<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Tiket Platform</title>
</head>
<body>


<div class="row mt-4 g-5">
</div>
<div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Aggiungi Note</h4>
    <form class="needs-validation" novalidate="" th:object="${note}"
          th:action="@{/notes/{id}/addNote(id=${ticket.id})}"
          method="post">
        <div class="row g-3">
            <div>
                <input type="hidden" class="form-control" id="date" th:field="*{date}" th:errorClass="is-invalid">
            </div>
            <div>
                <input type="hidden" class="form-control" id="user" th:field="*{user}" th:errorClass="is-invalid">
            </div>
            <div class="col-sm-3">
                <label for="note" class="form-label">nota:</label>
                <input type="text" class="form-control" id="note" th:field="*{notes}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('notes')}" class="invalid-feedback">

                    <ul>
                        <li th:each="err : ${#fields.errors('notes')}" th:text="${err}"></li>
                    </ul>
                </div>

            </div>
            <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Aggiungi nota</button>
        </div>
    </form>
</div>
</body>
<div th:replace="~{fragments.html::footer-block}"></div>
</html>